.title {
    font-size: 50px;
    -webkit-line-clamp: 1;
    font-weight: bolder !important;
    
}
.word {
    margin:100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.0;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
}

.ck-editor__editable {
    min-height: 1000px;
}


.input-file-button{
    padding: 6px 25px;
    background-color:#FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}


#wordStyle {
    width: 450px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left:5px;
    margin-top:-10px;
    min-height: 90px;
    max-height: 110px;
    float:left;
    text-align: left;
    
}


#wordStyleImg {
    width: 270px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left:10px;
    min-height: 90px;
    max-height: 110px;
    text-align: left;
    margin-top: -10px;
    
}

.skeleton {
    background-color: #a5a5a5;
    animation: skeleton-animation 1s infinite linear;
}
  
@keyframes skeleton-animation {
    0% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0.2;
    }
}
